[Desktop Entry]
Comment=Catpuccin + Otto theme
Name=Tridentu Cato (Dark)
X-KDE-PluginInfo-Author=Tridentu Group
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=tridentugroup@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 2+
X-KDE-PluginInfo-Name=TridentuCatoDark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://tridentu.github.io
X-KDE-ServiceTypes=Plasma/LookAndFeel
